<h2>Bills</h2>
<%= link_to 'Create Bill', new_bill_path, class: "text-primary" %>

<hr>
<ul class="navbar-nav">
  <% sr = 1 %>
  <table class="table">
    <thead>
      <tr>
        <th> SR </th>
        <th> Name </th>
        <th> Father Name </th>
        <th> Address </th>
        <th> Date </th>
        <th> Mobile No. </th>
        <th> Catagory </th>
        <th> Company </th>
        <th> Model </th>
        <th> Price </th>
      </tr>
    </thead>
    <tbody>
      <% prices = [] %>
      <% @bills.each do |bill| %>
        <% prices << bill.price %>
        <tr>
          <th><%= sr %></th>
          <td><%= bill.name %></td>
          <td><%= bill.father_name %></td>
          <td><%= bill.address %></td>
          <td><%= bill.created_at.strftime("%d/%m/%y") %></td>
          <td><%= bill.mobile_no %></td>
          <td><%= bill.item.parrent.parrent.name %></td>
          <td><%= bill.item.parrent.name %></td>
          <td><%= bill.item.name %></td>
          <td><%= bill.price %></td>
        </tr>
        <% sr = sr + 1 %>
      <% end %>
      <tr bgcolor="yellow">
        <th colspan="9">Total Price</th>
        <th><%= prices.sum %></th>
      </tr>
    </tbody>
  </table>
</ul>
