<h2>Create Company</h2><hr>
<%= form_for @imported_item do |f| %>
  <% if @imported_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imported_item.errors.count, "error") %> prohibited this imported_item from being saved:</h2>

      <ul>
        <% @imported_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <select id="select_1" class="form-control" >
        <option value="">Select Category </option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>">
            <%= category.name %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :company, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <select id="select_company" class="form-control" >
        <option value="">Select Company </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :model, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <select id="select_model" class="form-control" >
        <option value="">Select Model </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :imported_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.date_field :imported_date, autofocus: true,
                                class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.number_field :quantity, autofocus: true,
                                class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price_per_unit, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.number_field :price_per_unit, autofocus: true,
                                class: "price_per_unit form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'profit (%)', class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.number_field :profit, autofocus: true,
                            class: "profit form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label 'final price per unit', class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
    <input autofocus="autofocus" class="form-control" type="number" id="final-price">
    </div>
  </div>

  <%= f.hidden_field :item_id, class: "model" %><br />
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  $(document).ready(function() {
    $("#select_1").on("change",function() {
      var category = $('select#select_1 :selected').val();
      $.ajax({
        url:  '/set_items',
        data: ('id=' + category),
        type: "GET",
        dataType: "script"
      });
    });
    $("#select_company").on("change",function() {
      var company = $('select#select_company :selected').val();
      $.ajax({
        url:  '/set_items',
        data: ('id=' + company),
        type: "GET",
        dataType: "script"
      });
    });
    $("#select_model").on("change",function() {
      var model = $('select#select_model :selected').val();
      $('.model').val(model)
    });
    $(".profit").on("change",function() {
      var profit = $('.profit').val();
      var price = $('.price_per_unit').val();
      final_price = (profit * price)/100;
      $('#final-price').val(parseInt(price) + parseInt(final_price));
    });
  });
</script>