<h2>Create Company</h2><hr>
<%= form_with url: companies_path do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= select_tag :parrent_id, options_from_collection_for_select(@categories, "id", "name"), autofocus: true,
                                class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, autofocus: true,
                                class: "form-control" %>
    </div>
  </div>
  <%= f.hidden_field :item_type, value: 'company' %><br />
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>